@tailwind base;
@tailwind components;
@tailwind utilities;

html body{
  display: block;
  background-color: rgb(15 23 42);
}

.main-container{
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.filter-white{
  filter: brightness(0) invert(1);
}

.active .nav-indicator{
  width: 4rem;
  background-color: rgb(226 232 240);
}

.active .nav-text{
  color: rgb(226 232 240);
}

@media (min-width: 640px){
  .main-container{
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1024px){
  .main-container{
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 0;
  }
}